openapi: 3.0.3
info:
  title: Triangle Black Hospitality Engineering Operating System — API
  version: 1.0.0
  description: |
    OpenAPI specification for the Triangle Black Hospitality Engineering Operating System.
    Covers all business domains: CRM, Project Delivery, Procurement, Supplier Management,
    Inventory, Financial Control, Maintenance, Document Management, Executive Intelligence,
    AI Copilots, Integrations, Mobile, and Human Resources.
  contact:
    name: Triangle Black Engineering
    url: https://triangleblack.com
  license:
    name: Proprietary

servers:
  - url: https://api.triangleblack.com/api/v1
    description: Production server
  - url: https://staging-api.triangleblack.com/api/v1
    description: Staging server
  - url: http://localhost:4000/api/v1
    description: Local development

paths:
  # ---- SEARCH ----
  /search:
    get:
      tags: [Search]
      summary: Full-text search across all domains
      operationId: search
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [leads, opportunities, projects, quotations, inventory, documents, employees]
        - name: page
          in: query
          schema: { type: integer, default: 1, minimum: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                properties:
                  query:
                    type: string
                  results:
                    type: array
                    items:
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                        snippet:
                          type: string
                        score:
                          type: number
                        url:
                          type: string
                  total:
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer
                  facets:
                    type: object
  # ---- SHARED KERNEL ----
  /master-data/currencies:
    get:
      tags: [Master Data]
      summary: List currencies
      operationId: listCurrencies
      responses:
        '200':
          description: List of currencies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'

  /master-data/currencies/{code}:
    put:
      tags: [Master Data]
      summary: Update currency exchange rate
      operationId: updateCurrencyRate
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rate: { type: number, description: Exchange rate against base currency }
              required: [rate]
      responses:
        '200':
          description: Currency updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'

  /master-data/uom:
    get:
      tags: [Master Data]
      summary: List units of measure
      operationId: listUom
      responses:
        '200':
          description: List of UOM
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnitOfMeasure'

  /master-data/tax-rates:
    get:
      tags: [Master Data]
      summary: List tax rates
      operationId: listTaxRates
      responses:
        '200':
          description: List of tax rates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxRate'

  /master-data/countries:
    get:
      tags: [Master Data]
      summary: List countries
      operationId: listCountries
      responses:
        '200':
          description: List of countries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'

  /notifications:
    get:
      tags: [Notifications]
      summary: List user notifications
      operationId: listNotifications
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Paginated notifications list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /notifications/unread-count:
    get:
      tags: [Notifications]
      summary: Get unread notification count
      operationId: unreadNotificationCount
      responses:
        '200':
          description: Unread count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer

  /notifications/{id}/read:
    patch:
      tags: [Notifications]
      summary: Mark notification as read
      operationId: markNotificationRead
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Notification marked as read

  /notifications/read-all:
    post:
      tags: [Notifications]
      summary: Mark all notifications as read
      operationId: markAllNotificationsRead
      responses:
        '200':
          description: All notifications marked as read

  /audit:
    get:
      tags: [Audit]
      summary: Query audit log
      operationId: queryAuditLog
      parameters:
        - name: actor_id
          in: query
          schema: { type: string, format: uuid }
        - name: action
          in: query
          schema: { type: string }
        - name: resource_type
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: Audit log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEntry'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /audit/{entityType}/{entityId}:
    get:
      tags: [Audit]
      summary: Get entity audit trail
      operationId: getEntityAuditTrail
      parameters:
        - name: entityType
          in: path
          required: true
          schema: { type: string }
        - name: entityId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Entity audit trail
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditEntry'

  /system/health:
    get:
      tags: [System]
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: healthy }
                  timestamp:
                    type: string
                    format: date-time
                  uptime: { type: number }
                  database: { type: string, example: connected }

  /system/info:
    get:
      tags: [System]
      summary: Get system information
      operationId: getSystemInfo
      responses:
        '200':
          description: System information
          content:
            application/json:
              schema:
                type: object
                properties:
                  version: { type: string }
                  environment: { type: string }
                  build: { type: string }

  # ---- CRM ----
  /crm/leads:
    post:
      tags: [CRM - Leads]
      summary: Create lead
      operationId: createLead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLeadDto'
      responses:
        '201':
          description: Lead created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
        '422':
          $ref: '#/components/responses/ValidationError'
    get:
      tags: [CRM - Leads]
      summary: List leads (paginated, filterable)
      operationId: listLeads
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: status
          in: query
          schema:
            type: string
            enum: [new, contacted, qualified, disqualified, converted]
        - name: search
          in: query
          schema: { type: string }
        - name: source
          in: query
          schema:
            type: string
            enum: [website, referral, event, cold_outreach, other]
      responses:
        '200':
          description: Paginated leads list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lead'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /crm/leads/stats:
    get:
      tags: [CRM - Leads]
      summary: Get lead pipeline statistics
      operationId: getLeadStats
      responses:
        '200':
          description: Lead pipeline stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  total: { type: integer }
                  by_status:
                    type: object
                    additionalProperties: { type: integer }
                  conversion_rate: { type: number }

  /crm/leads/{id}:
    get:
      tags: [CRM - Leads]
      summary: Get lead with timeline
      operationId: getLead
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Lead detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [CRM - Leads]
      summary: Update lead
      operationId: updateLead
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName: { type: string }
                lastName: { type: string }
                email: { type: string, format: email }
                phone: { type: string }
                companyName: { type: string }
                status:
                  type: string
                  enum: [new, contacted, qualified, disqualified, converted]
                notes: { type: string }
      responses:
        '200':
          description: Lead updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
    delete:
      tags: [CRM - Leads]
      summary: Soft delete lead
      operationId: deleteLead
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Lead soft-deleted

  /crm/leads/{id}/convert:
    post:
      tags: [CRM - Leads]
      summary: Convert lead to opportunity
      operationId: convertLead
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                opportunityName: { type: string }
                estimatedValue: { type: number }
      responses:
        '200':
          description: Lead converted to opportunity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'

  /crm/leads/bulk/assign:
    post:
      tags: [CRM - Leads]
      summary: Bulk assign leads to user
      operationId: bulkAssignLeads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                leadIds:
                  type: array
                  items: { type: string, format: uuid }
                assignedTo: { type: string, format: uuid }
              required: [leadIds, assignedTo]
      responses:
        '200':
          description: Leads assigned

  /crm/opportunities:
    post:
      tags: [CRM - Opportunities]
      summary: Create opportunity
      operationId: createOpportunity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOpportunityDto'
      responses:
        '201':
          description: Opportunity created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
    get:
      tags: [CRM - Opportunities]
      summary: List opportunities (pipeline view)
      operationId: listOpportunities
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: stage
          in: query
          schema:
            type: string
            enum: [prospecting, qualification, proposal, negotiation, closed_won, closed_lost]
        - name: companyId
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Paginated opportunities list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Opportunity'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /crm/opportunities/forecast:
    get:
      tags: [CRM - Opportunities]
      summary: Get pipeline forecast
      operationId: getOpportunityForecast
      responses:
        '200':
          description: Pipeline forecast
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_weighted: { type: number }
                  by_stage:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        count: { type: integer }
                        value: { type: number }
                        weighted: { type: number }

  /crm/opportunities/win-loss:
    get:
      tags: [CRM - Opportunities]
      summary: Win/loss analysis
      operationId: getWinLossAnalysis
      parameters:
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Win/loss analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  win_rate: { type: number }
                  total_won: { type: integer }
                  total_lost: { type: integer }
                  total_value_won: { type: number }
                  total_value_lost: { type: number }
                  reasons:
                    type: array
                    items:
                      type: object
                      properties:
                        reason: { type: string }
                        count: { type: integer }

  /crm/opportunities/{id}:
    get:
      tags: [CRM - Opportunities]
      summary: Get opportunity with relations
      operationId: getOpportunity
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Opportunity detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
    patch:
      tags: [CRM - Opportunities]
      summary: Update opportunity stage/value
      operationId: updateOpportunity
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                stage:
                  type: string
                  enum: [prospecting, qualification, proposal, negotiation, closed_won, closed_lost]
                estimatedValue: { type: number }
                probability: { type: integer, minimum: 0, maximum: 100 }
      responses:
        '200':
          description: Opportunity updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
    delete:
      tags: [CRM - Opportunities]
      summary: Soft delete opportunity
      operationId: deleteOpportunity
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Opportunity soft-deleted

  /crm/companies:
    post:
      tags: [CRM - Companies]
      summary: Create company
      operationId: createCompany
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string, format: email }
                phone: { type: string }
                region: { type: string }
                type:
                  type: string
                  enum: [hotel, resort, restaurant, facility_management, other]
              required: [name]
      responses:
        '201':
          description: Company created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    get:
      tags: [CRM - Companies]
      summary: List companies
      operationId: listCompanies
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: region
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Paginated companies list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /crm/companies/{id}:
    get:
      tags: [CRM - Companies]
      summary: Get company with contacts and opportunities
      operationId: getCompany
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Company detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    patch:
      tags: [CRM - Companies]
      summary: Update company
      operationId: updateCompany
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string, format: email }
                phone: { type: string }
                region: { type: string }
      responses:
        '200':
          description: Company updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    delete:
      tags: [CRM - Companies]
      summary: Soft delete company
      operationId: deleteCompany
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Company soft-deleted

  # ---- SURVEYS ----
  /surveys:
    post:
      tags: [Site Surveys]
      summary: Create / schedule site survey
      operationId: createSurvey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                leadId: { type: string, format: uuid }
                scheduledDate: { type: string, format: date-time }
                location: { type: string }
                notes: { type: string }
              required: [leadId, scheduledDate]
      responses:
        '201':
          description: Survey created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Survey'
    get:
      tags: [Site Surveys]
      summary: List site surveys
      operationId: listSurveys
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema:
            type: string
            enum: [scheduled, in_progress, submitted, approved, rejected]
      responses:
        '200':
          description: Paginated surveys list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Survey'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /surveys/{id}:
    get:
      tags: [Site Surveys]
      summary: Get survey with findings
      operationId: getSurvey
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Survey detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Survey'
    patch:
      tags: [Site Surveys]
      summary: Update survey findings
      operationId: updateSurvey
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                findings: { type: string }
                recommendations: { type: string }
      responses:
        '200':
          description: Survey updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Survey'

  /surveys/{id}/submit:
    post:
      tags: [Site Surveys]
      summary: Submit survey for approval
      operationId: submitSurvey
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Survey submitted

  /surveys/{id}/approve:
    post:
      tags: [Site Surveys]
      summary: Approve survey
      operationId: approveSurvey
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Survey approved

  /surveys/{id}/reject:
    post:
      tags: [Site Surveys]
      summary: Reject survey
      operationId: rejectSurvey
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Survey rejected

  /surveys/{id}/photos:
    post:
      tags: [Site Surveys]
      summary: Upload survey photos
      operationId: uploadSurveyPhotos
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                photos:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '201':
          description: Photos uploaded

  # ---- QUOTATIONS ----
  /quotations:
    post:
      tags: [Quotations]
      summary: Create quotation from opportunity
      operationId: createQuotation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                opportunityId: { type: string, format: uuid }
                validUntil: { type: string, format: date }
                notes: { type: string }
                lineItems:
                  type: array
                  items:
                    $ref: '#/components/schemas/QuotationLineItem'
              required: [opportunityId, lineItems]
      responses:
        '201':
          description: Quotation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotation'
    get:
      tags: [Quotations]
      summary: List quotations
      operationId: listQuotations
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, submitted, approved, rejected, sent, client_approved, client_rejected]
      responses:
        '200':
          description: Paginated quotations list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Quotation'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /quotations/{id}:
    get:
      tags: [Quotations]
      summary: Get quotation with line items
      operationId: getQuotation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Quotation detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotation'
    patch:
      tags: [Quotations]
      summary: Update quotation (draft only)
      operationId: updateQuotation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validUntil: { type: string, format: date }
                notes: { type: string }
                lineItems:
                  type: array
                  items:
                    $ref: '#/components/schemas/QuotationLineItem'
      responses:
        '200':
          description: Quotation updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotation'

  /quotations/{id}/submit:
    post:
      tags: [Quotations]
      summary: Submit quotation for internal approval
      operationId: submitQuotation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Quotation submitted

  /quotations/{id}/approve:
    post:
      tags: [Quotations]
      summary: Internally approve quotation
      operationId: approveQuotation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Quotation approved

  /quotations/{id}/reject:
    post:
      tags: [Quotations]
      summary: Internally reject quotation
      operationId: rejectQuotation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Quotation rejected

  /quotations/{id}/send:
    post:
      tags: [Quotations]
      summary: Send quotation to client
      operationId: sendQuotation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Quotation sent to client

  /quotations/{id}/client-approve:
    post:
      tags: [Quotations]
      summary: Client approves quotation
      operationId: clientApproveQuotation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Quotation approved by client

  /quotations/{id}/client-reject:
    post:
      tags: [Quotations]
      summary: Client rejects quotation
      operationId: clientRejectQuotation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Quotation rejected by client

  /quotations/{id}/clone:
    post:
      tags: [Quotations]
      summary: Create quotation revision by cloning
      operationId: cloneQuotation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '201':
          description: Quotation revision created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotation'

  /quotations/{id}/pdf:
    get:
      tags: [Quotations]
      summary: Download quotation PDF
      operationId: getQuotationPdf
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  # ---- CONTRACTS ----
  /contracts:
    post:
      tags: [Contracts]
      summary: Create contract from quotation
      operationId: createContract
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quotationId: { type: string, format: uuid }
                title: { type: string }
                startDate: { type: string, format: date }
                endDate: { type: string, format: date }
                terms: { type: string }
              required: [quotationId, title, startDate]
      responses:
        '201':
          description: Contract created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
    get:
      tags: [Contracts]
      summary: List contracts
      operationId: listContracts
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, signed, active, terminated]
      responses:
        '200':
          description: Paginated contracts list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contract'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /contracts/{id}:
    get:
      tags: [Contracts]
      summary: Get contract with details
      operationId: getContract
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Contract detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
    patch:
      tags: [Contracts]
      summary: Update contract
      operationId: updateContract
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                endDate: { type: string, format: date }
                terms: { type: string }
      responses:
        '200':
          description: Contract updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'

  /contracts/{id}/sign:
    post:
      tags: [Contracts]
      summary: Sign contract
      operationId: signContract
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Contract signed

  /contracts/{id}/activate:
    post:
      tags: [Contracts]
      summary: Activate contract
      operationId: activateContract
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Contract activated

  /contracts/{id}/terminate:
    post:
      tags: [Contracts]
      summary: Terminate contract
      operationId: terminateContract
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
                effectiveDate: { type: string, format: date }
      responses:
        '200':
          description: Contract terminated

  /contracts/{id}/variation:
    post:
      tags: [Contracts]
      summary: Create variation order
      operationId: createContractVariation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description: { type: string }
                valueChange: { type: number }
                reason: { type: string }
              required: [description, valueChange]
      responses:
        '201':
          description: Variation order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractVariation'

  # ---- PROJECT DELIVERY ----
  /projects:
    post:
      tags: [Projects]
      summary: Create project from contract
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contractId: { type: string, format: uuid }
                name: { type: string }
                startDate: { type: string, format: date }
                endDate: { type: string, format: date }
                managerId: { type: string, format: uuid }
              required: [contractId, name, startDate]
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    get:
      tags: [Projects]
      summary: List projects
      operationId: listProjects
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema:
            type: string
            enum: [planning, in_progress, on_hold, completed, cancelled]
      responses:
        '200':
          description: Paginated projects list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /projects/{id}:
    get:
      tags: [Projects]
      summary: Get project detail with milestones
      operationId: getProject
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Project detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    patch:
      tags: [Projects]
      summary: Update project
      operationId: updateProject
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                endDate: { type: string, format: date }
                status:
                  type: string
                  enum: [planning, in_progress, on_hold, completed, cancelled]
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

  /projects/{id}/milestones:
    post:
      tags: [Projects]
      summary: Add milestone to project
      operationId: addProjectMilestone
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMilestoneDto'
      responses:
        '201':
          description: Milestone added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'

  /projects/{id}/milestones/{milestoneId}:
    patch:
      tags: [Projects]
      summary: Update milestone
      operationId: updateProjectMilestone
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: milestoneId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                dueDate: { type: string, format: date }
                status:
                  type: string
                  enum: [pending, in_progress, completed]
      responses:
        '200':
          description: Milestone updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'

  /projects/{id}/milestones/{milestoneId}/approve:
    post:
      tags: [Projects]
      summary: Approve milestone
      operationId: approveProjectMilestone
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: milestoneId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Milestone approved

  /projects/{id}/reports/daily:
    get:
      tags: [Projects]
      summary: Get daily reports for project
      operationId: listDailyReports
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Daily reports list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DailyReport'
    post:
      tags: [Projects]
      summary: Create daily report
      operationId: createDailyReport
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date: { type: string, format: date }
                summary: { type: string }
                weather: { type: string }
                labourCount: { type: integer }
                notes: { type: string }
              required: [date, summary]
      responses:
        '201':
          description: Daily report created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyReport'

  /projects/{id}/ncr:
    get:
      tags: [Projects]
      summary: List NCRs for project
      operationId: listNcrs
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: NCR list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NonConformanceReport'
    post:
      tags: [Projects]
      summary: Create non-conformance report
      operationId: createNcr
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description: { type: string }
                severity:
                  type: string
                  enum: [minor, major, critical]
                location: { type: string }
                reportedBy: { type: string, format: uuid }
              required: [description, severity]
      responses:
        '201':
          description: NCR created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonConformanceReport'

  /projects/{id}/ncr/{ncrId}:
    patch:
      tags: [Projects]
      summary: Update NCR
      operationId: updateNcr
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: ncrId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [open, in_progress, resolved, closed]
                resolution: { type: string }
      responses:
        '200':
          description: NCR updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonConformanceReport'

  /projects/{id}/risks:
    get:
      tags: [Projects]
      summary: List project risk register
      operationId: listProjectRisks
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Risk register
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectRisk'
    post:
      tags: [Projects]
      summary: Create risk entry
      operationId: createProjectRisk
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description: { type: string }
                category:
                  type: string
                  enum: [technical, financial, schedule, safety, regulatory]
                probability:
                  type: string
                  enum: [low, medium, high]
                impact:
                  type: string
                  enum: [low, medium, high]
                mitigationPlan: { type: string }
              required: [description, category, probability, impact]
      responses:
        '201':
          description: Risk created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectRisk'

  /projects/{id}/handover:
    post:
      tags: [Projects]
      summary: Initiate project handover
      operationId: initiateHandover
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '201':
          description: Handover initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Handover'
    get:
      tags: [Projects]
      summary: Get handover status
      operationId: getHandoverStatus
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Handover status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Handover'

  /projects/{id}/timeline:
    get:
      tags: [Projects]
      summary: Get Gantt chart data
      operationId: getProjectTimeline
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Gantt data
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        name: { type: string }
                        startDate: { type: string, format: date }
                        endDate: { type: string, format: date }
                        progress: { type: number }
                        dependencies:
                          type: array
                          items: { type: string, format: uuid }

  /projects/{id}/photos:
    post:
      tags: [Projects]
      summary: Upload progress photos
      operationId: uploadProjectPhotos
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                photos:
                  type: array
                  items:
                    type: string
                    format: binary
                notes: { type: string }
      responses:
        '201':
          description: Photos uploaded

  # ---- PROCUREMENT ----
  /procurement/requisitions:
    post:
      tags: [Procurement]
      summary: Create purchase requisition
      operationId: createRequisition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId: { type: string, format: uuid }
                requestedBy: { type: string, format: uuid }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      description: { type: string }
                      quantity: { type: number }
                      uom: { type: string }
                      estimatedUnitCost: { type: number }
                      requiredDate: { type: string, format: date }
                notes: { type: string }
              required: [projectId, requestedBy, items]
      responses:
        '201':
          description: Requisition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseRequisition'
    get:
      tags: [Procurement]
      summary: List purchase requisitions
      operationId: listRequisitions
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, submitted, approved, rejected, ordered]
        - name: projectId
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Paginated requisitions list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PurchaseRequisition'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /procurement/requisitions/{id}:
    get:
      tags: [Procurement]
      summary: Get purchase requisition detail
      operationId: getRequisition
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Requisition detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseRequisition'
    patch:
      tags: [Procurement]
      summary: Update purchase requisition
      operationId: updateRequisition
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      description: { type: string }
                      quantity: { type: number }
                      uom: { type: string }
                notes: { type: string }
      responses:
        '200':
          description: Requisition updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseRequisition'

  /procurement/requisitions/{id}/submit:
    post:
      tags: [Procurement]
      summary: Submit requisition for approval
      operationId: submitRequisition
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Requisition submitted

  /procurement/requisitions/{id}/approve:
    post:
      tags: [Procurement]
      summary: Approve purchase requisition
      operationId: approveRequisition
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Requisition approved

  /procurement/requisitions/{id}/reject:
    post:
      tags: [Procurement]
      summary: Reject purchase requisition
      operationId: rejectRequisition
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Requisition rejected

  /procurement/purchase-orders:
    post:
      tags: [Procurement]
      summary: Create purchase order
      operationId: createPurchaseOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requisitionId: { type: string, format: uuid }
                supplierId: { type: string, format: uuid }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      description: { type: string }
                      quantity: { type: number }
                      unitCost: { type: number }
                      uom: { type: string }
                deliveryDate: { type: string, format: date }
                paymentTerms: { type: string }
              required: [supplierId, items]
      responses:
        '201':
          description: Purchase order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
    get:
      tags: [Procurement]
      summary: List purchase orders
      operationId: listPurchaseOrders
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, submitted, approved, sent, partially_received, fully_received, closed]
      responses:
        '200':
          description: Paginated purchase orders list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PurchaseOrder'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /procurement/purchase-orders/{id}:
    get:
      tags: [Procurement]
      summary: Get purchase order detail
      operationId: getPurchaseOrder
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Purchase order detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
    patch:
      tags: [Procurement]
      summary: Update purchase order
      operationId: updatePurchaseOrder
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      description: { type: string }
                      quantity: { type: number }
                      unitCost: { type: number }
                deliveryDate: { type: string, format: date }
                paymentTerms: { type: string }
      responses:
        '200':
          description: Purchase order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'

  /procurement/purchase-orders/{id}/submit:
    post:
      tags: [Procurement]
      summary: Submit purchase order for approval
      operationId: submitPurchaseOrder
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Purchase order submitted

  /procurement/purchase-orders/{id}/approve:
    post:
      tags: [Procurement]
      summary: Approve purchase order
      operationId: approvePurchaseOrder
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Purchase order approved

  /procurement/purchase-orders/{id}/send:
    post:
      tags: [Procurement]
      summary: Send purchase order to supplier
      operationId: sendPurchaseOrder
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Purchase order sent to supplier

  /procurement/purchase-orders/{id}/receive:
    post:
      tags: [Procurement]
      summary: Receive goods against purchase order
      operationId: receivePurchaseOrder
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      itemId: { type: string, format: uuid }
                      quantityReceived: { type: number }
                      notes: { type: string }
              required: [items]
      responses:
        '200':
          description: Goods received recorded

  /procurement/goods-receipts:
    get:
      tags: [Procurement]
      summary: List goods receipts
      operationId: listGoodsReceipts
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Paginated goods receipts list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GoodsReceipt'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /procurement/goods-receipts/{id}:
    get:
      tags: [Procurement]
      summary: Get goods receipt detail
      operationId: getGoodsReceipt
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Goods receipt detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoodsReceipt'

  /procurement/goods-receipts/{id}/inspect:
    post:
      tags: [Procurement]
      summary: Inspect / reject received items
      operationId: inspectGoodsReceipt
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      lineItemId: { type: string, format: uuid }
                      status:
                        type: string
                        enum: [accepted, rejected, partially_accepted]
                      quantityAccepted: { type: number }
                      rejectionReason: { type: string }
              required: [items]
      responses:
        '200':
          description: Inspection results recorded

  # ---- SUPPLIER MANAGEMENT ----
  /suppliers:
    post:
      tags: [Suppliers]
      summary: Register supplier
      operationId: registerSupplier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string, format: email }
                phone: { type: string }
                address: { type: string }
                category:
                  type: string
                  enum: [materials, equipment, services, subcontractor]
                taxId: { type: string }
                paymentTerms: { type: string }
              required: [name, email, category]
      responses:
        '201':
          description: Supplier registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
    get:
      tags: [Suppliers]
      summary: List suppliers (filterable)
      operationId: listSuppliers
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, suspended, blacklisted]
        - name: tier
          in: query
          schema:
            type: string
            enum: [tier_1, tier_2, tier_3]
        - name: category
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Paginated suppliers list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Supplier'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /suppliers/{id}:
    get:
      tags: [Suppliers]
      summary: Get supplier detail with docs and rate cards
      operationId: getSupplier
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Supplier detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
    patch:
      tags: [Suppliers]
      summary: Update supplier
      operationId: updateSupplier
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string, format: email }
                phone: { type: string }
                address: { type: string }
                paymentTerms: { type: string }
      responses:
        '200':
          description: Supplier updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'

  /suppliers/{id}/approve:
    post:
      tags: [Suppliers]
      summary: Approve supplier
      operationId: approveSupplier
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Supplier approved

  /suppliers/{id}/suspend:
    post:
      tags: [Suppliers]
      summary: Suspend supplier
      operationId: suspendSupplier
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Supplier suspended

  /suppliers/{id}/blacklist:
    post:
      tags: [Suppliers]
      summary: Blacklist supplier
      operationId: blacklistSupplier
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
              required: [reason]
      responses:
        '200':
          description: Supplier blacklisted

  /suppliers/{id}/documents:
    post:
      tags: [Suppliers]
      summary: Upload supplier document
      operationId: uploadSupplierDocument
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  enum: [license, certificate, insurance, contract, other]
              required: [file, type]
      responses:
        '201':
          description: Document uploaded

  /suppliers/{id}/documents/{documentId}:
    delete:
      tags: [Suppliers]
      summary: Remove supplier document
      operationId: deleteSupplierDocument
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: documentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Document removed

  /suppliers/{id}/rate-cards:
    get:
      tags: [Suppliers]
      summary: Get supplier rate cards
      operationId: getSupplierRateCards
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Rate cards list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateCardItem'
    post:
      tags: [Suppliers]
      summary: Add rate card item
      operationId: addRateCardItem
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description: { type: string }
                unitPrice: { type: number }
                uom: { type: string }
                effectiveFrom: { type: string, format: date }
                effectiveTo: { type: string, format: date }
              required: [description, unitPrice, uom]
      responses:
        '201':
          description: Rate card item added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateCardItem'

  /suppliers/{id}/evaluations:
    post:
      tags: [Suppliers]
      summary: Create supplier evaluation
      operationId: createSupplierEvaluation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rating: { type: integer, minimum: 1, maximum: 5 }
                category:
                  type: string
                  enum: [quality, delivery, pricing, communication, overall]
                comments: { type: string }
                evaluatedBy: { type: string, format: uuid }
              required: [rating, category, evaluatedBy]
      responses:
        '201':
          description: Evaluation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierEvaluation'
    get:
      tags: [Suppliers]
      summary: Get supplier evaluation history
      operationId: getSupplierEvaluations
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Evaluation history
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierEvaluation'

  # ---- INVENTORY ----
  /inventory/items:
    get:
      tags: [Inventory]
      summary: List inventory items
      operationId: listInventoryItems
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: warehouseId
          in: query
          schema: { type: string, format: uuid }
        - name: category
          in: query
          schema: { type: string }
        - name: search
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Paginated inventory items list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InventoryItem'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /inventory/items/{id}:
    get:
      tags: [Inventory]
      summary: Get inventory item detail
      operationId: getInventoryItem
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Inventory item detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'

  /inventory/items/{id}/min-level:
    patch:
      tags: [Inventory]
      summary: Set reorder level for item
      operationId: setItemMinLevel
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                minLevel: { type: number }
                maxLevel: { type: number }
              required: [minLevel]
      responses:
        '200':
          description: Reorder level updated

  /inventory/receipt:
    post:
      tags: [Inventory]
      summary: Stock in from purchase order
      operationId: inventoryReceipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                purchaseOrderId: { type: string, format: uuid }
                warehouseId: { type: string, format: uuid }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      itemId: { type: string, format: uuid }
                      quantity: { type: number }
              required: [purchaseOrderId, warehouseId, items]
      responses:
        '201':
          description: Stock receipt recorded

  /inventory/issue:
    post:
      tags: [Inventory]
      summary: Issue stock to project
      operationId: inventoryIssue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId: { type: string, format: uuid }
                warehouseId: { type: string, format: uuid }
                issuedTo: { type: string, format: uuid }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      itemId: { type: string, format: uuid }
                      quantity: { type: number }
                notes: { type: string }
              required: [projectId, warehouseId, items]
      responses:
        '201':
          description: Stock issued to project

  /inventory/transfer:
    post:
      tags: [Inventory]
      summary: Transfer stock between warehouses
      operationId: inventoryTransfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceWarehouseId: { type: string, format: uuid }
                destinationWarehouseId: { type: string, format: uuid }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      itemId: { type: string, format: uuid }
                      quantity: { type: number }
                notes: { type: string }
              required: [sourceWarehouseId, destinationWarehouseId, items]
      responses:
        '201':
          description: Stock transferred

  /inventory/adjustment:
    post:
      tags: [Inventory]
      summary: Record stock adjustment
      operationId: inventoryAdjustment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                warehouseId: { type: string, format: uuid }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      itemId: { type: string, format: uuid }
                      quantityChange: { type: number }
                      reason:
                        type: string
                        enum: [damage, loss, found, recount, other]
                notes: { type: string }
              required: [warehouseId, items]
      responses:
        '201':
          description: Adjustment recorded

  /inventory/warehouses:
    get:
      tags: [Inventory]
      summary: List warehouses
      operationId: listWarehouses
      responses:
        '200':
          description: Warehouses list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Warehouse'
    post:
      tags: [Inventory]
      summary: Create warehouse
      operationId: createWarehouse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                code: { type: string }
                location: { type: string }
                isActive: { type: boolean, default: true }
              required: [name, code]
      responses:
        '201':
          description: Warehouse created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'

  /inventory/transactions:
    get:
      tags: [Inventory]
      summary: Stock movement log
      operationId: listInventoryTransactions
      parameters:
        - name: itemId
          in: query
          schema: { type: string, format: uuid }
        - name: warehouseId
          in: query
          schema: { type: string, format: uuid }
        - name: type
          in: query
          schema:
            type: string
            enum: [receipt, issue, transfer_in, transfer_out, adjustment]
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: Stock movement log
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InventoryTransaction'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /inventory/project/{projectId}:
    get:
      tags: [Inventory]
      summary: Get project material consumption
      operationId: getProjectMaterialConsumption
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Project material consumption
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId: { type: string, format: uuid }
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        itemId: { type: string, format: uuid }
                        itemName: { type: string }
                        totalIssued: { type: number }
                        totalConsumed: { type: number }
                        uom: { type: string }

  # ---- FINANCIAL CONTROL ----
  /finance/invoices:
    post:
      tags: [Finance]
      summary: Create invoice
      operationId: createInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contractId: { type: string, format: uuid }
                projectId: { type: string, format: uuid }
                invoiceNumber: { type: string }
                issueDate: { type: string, format: date }
                dueDate: { type: string, format: date }
                lineItems:
                  type: array
                  items:
                    type: object
                    properties:
                      description: { type: string }
                      quantity: { type: number }
                      unitPrice: { type: number }
                      taxRate: { type: number }
                notes: { type: string }
              required: [contractId, invoiceNumber, issueDate, dueDate, lineItems]
      responses:
        '201':
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
    get:
      tags: [Finance]
      summary: List invoices
      operationId: listInvoices
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, sent, paid, overdue, cancelled, credited]
        - name: contractId
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Paginated invoices list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /finance/invoices/aging:
    get:
      tags: [Finance]
      summary: AR aging report
      operationId: getArAgingReport
      responses:
        '200':
          description: AR aging report
          content:
            application/json:
              schema:
                type: object
                properties:
                  buckets:
                    type: object
                    properties:
                      current: { type: number }
                      days_1_30: { type: number }
                      days_31_60: { type: number }
                      days_61_90: { type: number }
                      days_90_plus: { type: number }
                  total_outstanding: { type: number }

  /finance/invoices/{id}:
    get:
      tags: [Finance]
      summary: Get invoice detail
      operationId: getInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Invoice detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /finance/invoices/{id}/send:
    post:
      tags: [Finance]
      summary: Send invoice to client
      operationId: sendInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Invoice sent

  /finance/invoices/{id}/pay:
    post:
      tags: [Finance]
      summary: Record payment against invoice
      operationId: recordInvoicePayment
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { type: number }
                paymentDate: { type: string, format: date }
                paymentMethod:
                  type: string
                  enum: [bank_transfer, cash, cheque, credit_card, other]
                reference: { type: string }
              required: [amount, paymentDate]
      responses:
        '200':
          description: Payment recorded

  /finance/invoices/{id}/credit:
    post:
      tags: [Finance]
      summary: Create credit note for invoice
      operationId: createCreditNote
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { type: number }
                reason: { type: string }
                lineItems:
                  type: array
                  items:
                    type: object
                    properties:
                      description: { type: string }
                      amount: { type: number }
              required: [amount, reason]
      responses:
        '201':
          description: Credit note created

  /finance/supplier-invoices:
    post:
      tags: [Finance]
      summary: Enter supplier invoice
      operationId: createSupplierInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                purchaseOrderId: { type: string, format: uuid }
                supplierId: { type: string, format: uuid }
                invoiceNumber: { type: string }
                invoiceDate: { type: string, format: date }
                dueDate: { type: string, format: date }
                amount: { type: number }
                taxAmount: { type: number }
                lineItems:
                  type: array
                  items:
                    type: object
                    properties:
                      description: { type: string }
                      quantity: { type: number }
                      unitPrice: { type: number }
              required: [supplierId, invoiceNumber, amount]
      responses:
        '201':
          description: Supplier invoice entered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoice'
    get:
      tags: [Finance]
      summary: List supplier invoices
      operationId: listSupplierInvoices
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, matched, paid, disputed]
      responses:
        '200':
          description: Paginated supplier invoices list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupplierInvoice'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /finance/supplier-invoices/{id}/match:
    post:
      tags: [Finance]
      summary: Run 3-way match on supplier invoice
      operationId: matchSupplierInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: 3-way match result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [matched, partial_mismatch, mismatch]
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        lineItem: { type: string }
                        invoiceQty: { type: number }
                        receiptQty: { type: number }
                        poQty: { type: number }
                        status: { type: string }

  /finance/revenue/project/{projectId}:
    get:
      tags: [Finance]
      summary: Get project revenue and costs
      operationId: getProjectRevenueCosts
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Project revenue and costs
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId: { type: string, format: uuid }
                  totalRevenue: { type: number }
                  totalCosts: { type: number }
                  grossMargin: { type: number }
                  invoicedToDate: { type: number }
                  paidToDate: { type: number }
                  costBreakdown:
                    type: object
                    properties:
                      materials: { type: number }
                      labour: { type: number }
                      subcontractors: { type: number }
                      overheads: { type: number }

  /finance/revenue/recognized:
    get:
      tags: [Finance]
      summary: Get recognized revenue for period
      operationId: getRecognizedRevenue
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Recognized revenue
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    period: { type: string }
                    revenue: { type: number }
                    cost: { type: number }
                    profit: { type: number }

  /finance/gl/trial-balance:
    get:
      tags: [Finance]
      summary: Get trial balance
      operationId: getTrialBalance
      parameters:
        - name: asOf
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Trial balance
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    accountCode: { type: string }
                    accountName: { type: string }
                    debit: { type: number }
                    credit: { type: number }
                    balance: { type: number }

  /finance/gl/entries:
    get:
      tags: [Finance]
      summary: List journal entries
      operationId: listJournalEntries
      parameters:
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - name: accountCode
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: Journal entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JournalEntry'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  # ---- MAINTENANCE ----
  /maintenance/requests:
    post:
      tags: [Maintenance]
      summary: Create service request
      operationId: createMaintenanceRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId: { type: string, format: uuid }
                title: { type: string }
                description: { type: string }
                priority:
                  type: string
                  enum: [low, medium, high, critical]
                category:
                  type: string
                  enum: [electrical, plumbing, hvac, structural, general]
                location: { type: string }
                requestedBy: { type: string, format: uuid }
              required: [title, description, priority]
      responses:
        '201':
          description: Service request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRequest'
    get:
      tags: [Maintenance]
      summary: List service requests
      operationId: listMaintenanceRequests
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema:
            type: string
            enum: [open, assigned, in_progress, resolved, closed]
        - name: priority
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
      responses:
        '200':
          description: Paginated service requests list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MaintenanceRequest'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /maintenance/requests/{id}:
    get:
      tags: [Maintenance]
      summary: Get service request detail
      operationId: getMaintenanceRequest
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Service request detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRequest'

  /maintenance/requests/{id}/assign:
    post:
      tags: [Maintenance]
      summary: Assign engineer to service request
      operationId: assignMaintenanceRequest
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignedTo: { type: string, format: uuid }
                estimatedCompletion: { type: string, format: date }
              required: [assignedTo]
      responses:
        '200':
          description: Engineer assigned

  /maintenance/requests/{id}/resolve:
    post:
      tags: [Maintenance]
      summary: Mark service request as resolved
      operationId: resolveMaintenanceRequest
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resolutionNotes: { type: string }
                resolvedAt: { type: string, format: date-time }
      responses:
        '200':
          description: Service request resolved

  /maintenance/requests/{id}/close:
    post:
      tags: [Maintenance]
      summary: Close service request with rating
      operationId: closeMaintenanceRequest
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rating: { type: integer, minimum: 1, maximum: 5 }
                feedback: { type: string }
      responses:
        '200':
          description: Service request closed

  /maintenance/schedules:
    get:
      tags: [Maintenance]
[...]
